name: File Sync
on: push
jobs:
  readme-sync:
    runs-on: ubuntu-latest
    steps:
      - name: checkout code
        uses: actions/checkout@v4.2.0
      - name: check README
        uses: tianhaoz95/mirror-action@v1.0.1
        with:
          original: "README.md"
          mirror: "docs/README.md"
      - name: check contrib guide
        uses: tianhaoz95/mirror-action@v1.0.1
        with:
          original: "CONTRIBUTING.md"
          mirror: "docs/development.md"
      - name: check code of conduct
        uses: tianhaoz95/mirror-action@v1.0.1
        with:
          original: "CODE_OF_CONDUCT.md"
          mirror: "docs/code.md"
      - name: check privacy policy
        uses: tianhaoz95/mirror-action@v1.0.1
        with:
          original: "PRIVACY.md"
          mirror: "docs/privacy.md"
