name: Publish Dev Docs
on:
  push:
    branches:
      - "master"
  pull_request:
    branches:
      - "master"
jobs:
  build-and-deploy:
    name: Build and Deploy
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4.1.3
      - uses: actions/setup-node@v4.0.2
        with:
          node-version: "16.17.0"
      - name: Install dependencies
        run: npm ci
      - name: Build dev docs
        run: npm run build:dev-docs
      - name: Deploy dev docs
        run: npm run deploy:dev-docs
        if: >-
          github.event_name == 'push'
        env:
          GITHUB_TOKEN: ${{ secrets.DEV_DOC_DEPLOY_TOKEN }}