name: Publish Image
on:
  pull_request:
    branches:
      - master
  push:
    branches:
      - master
    tags:
      - v*
jobs:
  publish-image:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - uses: actions/setup-node@v3.3.0
        with:
          node-version: "12.16.2"
      - run: npm install
      - uses: docker/setup-qemu-action@v2.0.0
      - uses: docker/setup-buildx-action@v2.0.0
      - uses: docker/login-action@v2.0.0
        if: >-
          github.actor != 'dependabot[bot]' &&
          github.actor != 'dependabot-preview[bot]'
        with:
          registry: ghcr.io
          username: ${{ github.repository_owner }}
          password: ${{ secrets.GITHUB_TOKEN }}
      - name: get_tag
        id: get_tag
        working-directory: scripts/linux
        if: >-
          github.actor != 'dependabot[bot]' &&
          github.actor != 'dependabot-preview[bot]'
        env:
          USERNAME: ${{ github.repository_owner }}
        run: |
          source query_image_tag.sh
          echo "::set-output name=image_tag::ghcr.io/$USERNAME/check-group-server:$USE_TAG_NAME"
      # - uses: docker/build-push-action@v2.7.0
      #   if: github.event_name == 'push'
      #   with:
      #     push: true
      #     tags: ${{ steps.get_tag.outputs.image_tag }}
      # - uses: docker/build-push-action@v2.7.0
      #   if: >-
      #     github.event_name == 'pull_request' &&
      #     github.actor != 'dependabot[bot]' &&
      #     github.actor != 'dependabot-preview[bot]'
      #   with:
      #     push: false
      #     tags: ${{ steps.get_tag.outputs.image_tag }}
