name: Run Tests
on:
  push:
  schedule:
    - cron: 0 2 * * *
jobs:
  test:
    name: Run Tests
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4.2.2
      - uses: actions/setup-node@v4.1.0
        with:
          node-version: "12.16.2"
      - name: Install dependencies
        run: npm install
      - name: Run tests
        run: npm test
      - name: Report coverage to Codacy
        uses: codacy/codacy-coverage-reporter-action@master
        if: >-
          github.actor != 'dependabot[bot]' &&
          github.actor != 'dependabot-preview[bot]'
        with:
          project-token: ${{ secrets.CODACY_PROJECT_TOKEN }}
          coverage-reports: coverage/lcov.info
      - name: Report coverage to Codecov
        uses: codecov/codecov-action@v5.0.6
        if: >-
          github.actor != 'dependabot[bot]' &&
          github.actor != 'dependabot-preview[bot]'
        with:
          token: ${{ secrets.CODECOV_TOKEN }}
          file: coverage/lcov.info
          fail_ci_if_error: true
